@font-face {
  font-family: "iconfont"; /* Project id 2565674 */
  src: url('iconfont.woff2?t=1621915824075') format('woff2'),
       url('iconfont.woff?t=1621915824075') format('woff'),
       url('iconfont.ttf?t=1621915824075') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="kt-icon"], 
[class*=" kt-icon"]
{ 
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kt-iconproject:before {
  content: "\e633";
}

.kt-iconego-blog:before {
  content: "\e632";
}

.kt-icondatabaseplus-fill:before {
  content: "\e7a5";
}

.kt-icondatabase-fill:before {
  content: "\e7a6";
}

.kt-iconcommentlines-fill:before {
  content: "\e7a7";
}

.kt-iconcommentdots-fill:before {
  content: "\e7a8";
}

.kt-iconpaperplane-fill:before {
  content: "\e7a9";
}

.kt-iconeyeslash-fill:before {
  content: "\e7aa";
}

.kt-iconeye-fill:before {
  content: "\e7ab";
}

.kt-iconlightbulb-fill:before {
  content: "\e7ac";
}

.kt-iconflag-fill:before {
  content: "\e7ad";
}

.kt-icontag-fill:before {
  content: "\e7ae";
}

.kt-iconposition-fill:before {
  content: "\e7af";
}

.kt-iconlocation-fill:before {
  content: "\e7b0";
}

.kt-iconmap-fill:before {
  content: "\e7b1";
}

.kt-iconinboxin-fill:before {
  content: "\e7b2";
}

.kt-iconbox-fill:before {
  content: "\e7b3";
}

.kt-icondatabaseset-fill:before {
  content: "\e7b4";
}

.kt-iconlayergroup-fill:before {
  content: "\e7b5";
}

.kt-iconcry-fill:before {
  content: "\e7b6";
}

.kt-iconsmile-fill:before {
  content: "\e7b7";
}

.kt-iconunlock-fill:before {
  content: "\e7b8";
}

.kt-iconlock-fill:before {
  content: "\e7b9";
}

.kt-iconalignright-fill:before {
  content: "\e7ba";
}

.kt-iconalignleft-fill:before {
  content: "\e7bb";
}

.kt-iconborderbottom-fill:before {
  content: "\e7bc";
}

.kt-iconbordertop-fill:before {
  content: "\e7bd";
}

.kt-iconaligncenter-fill:before {
  content: "\e7be";
}

.kt-iconborderverticle-fill:before {
  content: "\e7bf";
}

.kt-iconpiccenter-fill:before {
  content: "\e7c0";
}

.kt-iconpicside-fill:before {
  content: "\e7c1";
}

.kt-iconfolderopen-fill:before {
  content: "\e7c2";
}

.kt-iconfolderplus-fill:before {
  content: "\e7c3";
}

.kt-iconfolder-fill:before {
  content: "\e7c4";
}

.kt-iconfile-SQL:before {
  content: "\e7c5";
}

.kt-iconfileplus-fill:before {
  content: "\e7c6";
}

.kt-iconfile-fill:before {
  content: "\e7c7";
}

.kt-iconcopy-fill:before {
  content: "\e7c8";
}

.kt-iconheadset-fill:before {
  content: "\e7c9";
}

.kt-iconphone-fill:before {
  content: "\e7ca";
}

.kt-iconpausecircle-fill:before {
  content: "\e7cb";
}

.kt-iconstopcircle-fill:before {
  content: "\e7cc";
}

.kt-iconplaycircle-fill:before {
  content: "\e7cd";
}

.kt-icondelete-fill:before {
  content: "\e7ce";
}

.kt-iconpicture-fill:before {
  content: "\e7cf";
}

.kt-iconmail-fill:before {
  content: "\e7d0";
}

.kt-iconheart-fill:before {
  content: "\e7d1";
}

.kt-iconcollection-fill:before {
  content: "\e7d2";
}

.kt-iconuser-group-fill:before {
  content: "\e7d3";
}

.kt-iconuserplus-fill:before {
  content: "\e7d4";
}

.kt-iconuser-fill:before {
  content: "\e7d5";
}

.kt-iconcog-fill:before {
  content: "\e7d6";
}

.kt-iconclock-fill:before {
  content: "\e7d7";
}

.kt-iconcalendaralt-fill:before {
  content: "\e7d8";
}

.kt-iconclouddownload-fill:before {
  content: "\e7d9";
}

.kt-iconcloudupload-fill:before {
  content: "\e7da";
}

.kt-iconexchange-fill:before {
  content: "\e7db";
}

.kt-iconinfo-circle-fill:before {
  content: "\e7dc";
}

.kt-iconquestion-circle-fill:before {
  content: "\e7dd";
}

.kt-iconexclamationcircle-f:before {
  content: "\e7de";
}

.kt-iconminus-circle-fill:before {
  content: "\e7df";
}

.kt-iconplus-circle-fill:before {
  content: "\e7e0";
}

.kt-icontimes-circle-fill:before {
  content: "\e7e1";
}

.kt-iconcheck-circle-fill:before {
  content: "\e7e2";
}

.kt-iconcompressalt-fill:before {
  content: "\e7e3";
}

.kt-iconexpandalt-fill:before {
  content: "\e7e4";
}

.kt-iconfilter:before {
  content: "\e7e5";
}

.kt-iconall:before {
  content: "\e7e6";
}

.kt-icondatabase-plus:before {
  content: "\e7e7";
}

.kt-icondatabase:before {
  content: "\e7e8";
}

.kt-iconcomment-lines:before {
  content: "\e7e9";
}

.kt-iconcomment-dots:before {
  content: "\e7ea";
}

.kt-iconpaper-plane:before {
  content: "\e7eb";
}

.kt-iconeye-slash:before {
  content: "\e7ec";
}

.kt-iconeye:before {
  content: "\e7ed";
}

.kt-iconlightbulb:before {
  content: "\e7ee";
}

.kt-iconflag:before {
  content: "\e7ef";
}

.kt-icontag:before {
  content: "\e7f0";
}

.kt-iconposition:before {
  content: "\e7f1";
}

.kt-iconlocation:before {
  content: "\e7f2";
}

.kt-iconmap:before {
  content: "\e7f3";
}

.kt-iconinbox-in:before {
  content: "\e7f4";
}

.kt-iconbox:before {
  content: "\e7f5";
}

.kt-icondatabase-set:before {
  content: "\e7f6";
}

.kt-iconlayer-group:before {
  content: "\e7f7";
}

.kt-iconwind-cry:before {
  content: "\e7f8";
}

.kt-iconwind-smile:before {
  content: "\e7f9";
}

.kt-iconunlock:before {
  content: "\e7fa";
}

.kt-iconlock:before {
  content: "\e7fb";
}

.kt-iconalign-right:before {
  content: "\e7fc";
}

.kt-iconalign-left:before {
  content: "\e7fd";
}

.kt-iconborder-bottom:before {
  content: "\e7fe";
}

.kt-iconborder-top:before {
  content: "\e7ff";
}

.kt-iconalign-center:before {
  content: "\e800";
}

.kt-iconborder-verticle:before {
  content: "\e801";
}

.kt-iconpic-center:before {
  content: "\e802";
}

.kt-iconpic-side:before {
  content: "\e803";
}

.kt-iconfolder-open:before {
  content: "\e804";
}

.kt-iconfolder-plus:before {
  content: "\e805";
}

.kt-iconfolder:before {
  content: "\e806";
}

.kt-iconfile-SQL1:before {
  content: "\e807";
}

.kt-iconfile-plus:before {
  content: "\e808";
}

.kt-iconfile:before {
  content: "\e809";
}

.kt-iconcopy:before {
  content: "\e80a";
}

.kt-iconheadset:before {
  content: "\e80b";
}

.kt-iconphone:before {
  content: "\e80c";
}

.kt-iconpausecircle:before {
  content: "\e80d";
}

.kt-iconstopcircle:before {
  content: "\e80e";
}

.kt-iconplaycircle:before {
  content: "\e80f";
}

.kt-icondelete:before {
  content: "\e810";
}

.kt-iconpicture:before {
  content: "\e811";
}

.kt-iconmail:before {
  content: "\e812";
}

.kt-iconlike:before {
  content: "\e813";
}

.kt-iconcollection:before {
  content: "\e814";
}

.kt-iconuser-group:before {
  content: "\e815";
}

.kt-iconaccount-plus:before {
  content: "\e816";
}

.kt-iconaccount:before {
  content: "\e817";
}

.kt-iconcog:before {
  content: "\e818";
}

.kt-iconclock:before {
  content: "\e819";
}

.kt-iconcalendar-alt:before {
  content: "\e81a";
}

.kt-iconclouddownload:before {
  content: "\e81b";
}

.kt-iconcloudupload:before {
  content: "\e81c";
}

.kt-iconexchange:before {
  content: "\e81d";
}

.kt-iconinfo-circle:before {
  content: "\e81e";
}

.kt-iconquestion-circle:before {
  content: "\e81f";
}

.kt-iconexclamation-circle:before {
  content: "\e820";
}

.kt-iconminus-circle:before {
  content: "\e821";
}

.kt-iconplus-circle:before {
  content: "\e822";
}

.kt-icontimes-circle:before {
  content: "\e823";
}

.kt-iconcheck-circle:before {
  content: "\e824";
}

.kt-iconcompress-alt:before {
  content: "\e825";
}

.kt-iconexpand-alt:before {
  content: "\e826";
}

.kt-iconban:before {
  content: "\e827";
}

.kt-iconminus:before {
  content: "\e828";
}

.kt-iconplus:before {
  content: "\e829";
}

.kt-icontimes:before {
  content: "\e82a";
}

.kt-iconcheck:before {
  content: "\e82b";
}

.kt-iconsearch-minus:before {
  content: "\e82c";
}

.kt-iconsearch-plus:before {
  content: "\e82d";
}

.kt-iconsearch:before {
  content: "\e82e";
}

.kt-iconreply:before {
  content: "\e82f";
}

.kt-iconundo:before {
  content: "\e830";
}

.kt-iconredo:before {
  content: "\e831";
}

.kt-iconexternal-link:before {
  content: "\e832";
}

.kt-iconarrows-alt:before {
  content: "\e833";
}

.kt-iconindent:before {
  content: "\e834";
}

.kt-iconoutdent:before {
  content: "\e835";
}

.kt-iconsort-line:before {
  content: "\e836";
}

.kt-iconswitch:before {
  content: "\e837";
}

.kt-iconwind-descending:before {
  content: "\e838";
}

.kt-iconwind-ascending:before {
  content: "\e839";
}

.kt-icondownload:before {
  content: "\e83a";
}

.kt-iconupload:before {
  content: "\e83b";
}

.kt-iconarrow-to-bottom:before {
  content: "\e83c";
}

.kt-iconarrow-to-top:before {
  content: "\e83d";
}

.kt-iconlong-arrow-down:before {
  content: "\e83e";
}

.kt-iconlong-arrow-up:before {
  content: "\e83f";
}

.kt-iconarrow-right:before {
  content: "\e840";
}

.kt-iconarrow-left:before {
  content: "\e841";
}

.kt-iconsort:before {
  content: "\e842";
}

.kt-iconsort-down:before {
  content: "\e843";
}

.kt-iconsort-up:before {
  content: "\e844";
}

.kt-iconcaret-right:before {
  content: "\e845";
}

.kt-iconcaret-left:before {
  content: "\e846";
}

.kt-iconarrows-v:before {
  content: "\e847";
}

.kt-iconangle-double-down:before {
  content: "\e848";
}

.kt-iconangle-double-up:before {
  content: "\e849";
}

.kt-iconangle-double-right:before {
  content: "\e84a";
}

.kt-iconangle-double-left:before {
  content: "\e84b";
}

.kt-iconangle-down:before {
  content: "\e84c";
}

.kt-iconangle-up:before {
  content: "\e84d";
}

.kt-iconangle-right:before {
  content: "\e84e";
}

.kt-iconangle-left:before {
  content: "\e84f";
}

.kt-iconpaperclip:before {
  content: "\e850";
}

.kt-iconconnection:before {
  content: "\e851";
}

.kt-icontraining:before {
  content: "\e853";
}

.kt-iconprocess:before {
  content: "\e854";
}

.kt-iconnews:before {
  content: "\e855";
}

.kt-iconsave:before {
  content: "\e856";
}

.kt-iconprint:before {
  content: "\e857";
}

.kt-iconnew-releases:before {
  content: "\e858";
}

.kt-iconrelease:before {
  content: "\e85a";
}

.kt-iconalert:before {
  content: "\e85b";
}

.kt-iconbackspace:before {
  content: "\e85c";
}

.kt-icongem:before {
  content: "\e85d";
}

.kt-iconintegral:before {
  content: "\e85e";
}

.kt-iconstar-circle:before {
  content: "\e85f";
}

.kt-iconuser-circle:before {
  content: "\e860";
}

.kt-iconcloud-machine-fill:before {
  content: "\e861";
}

.kt-iconcloud-machine:before {
  content: "\e862";
}

.kt-iconterminal-fill:before {
  content: "\e863";
}

.kt-iconterminal:before {
  content: "\e864";
}

.kt-iconshopping-cart-fill:before {
  content: "\e865";
}

.kt-iconresource:before {
  content: "\e867";
}

.kt-iconrank:before {
  content: "\e86a";
}

.kt-iconsync-alt:before {
  content: "\e86b";
}

.kt-iconcompass:before {
  content: "\e86c";
}

.kt-iconarrow-alt-from-top:before {
  content: "\e86d";
}

.kt-iconarrow-alt-from-botto:before {
  content: "\e86e";
}

.kt-iconmenu:before {
  content: "\e86f";
}

.kt-iconicon-drag:before {
  content: "\e870";
}

.kt-iconearly-warning:before {
  content: "\e871";
}

.kt-iconshare:before {
  content: "\e872";
}

.kt-iconshare1:before {
  content: "\e873";
}

.kt-iconmanagement-:before {
  content: "\e874";
}

.kt-iconaccesskeys:before {
  content: "\e875";
}

.kt-iconarrow-sortdown-smal:before {
  content: "\e877";
}

.kt-iconminus-square-fill:before {
  content: "\e878";
}

.kt-iconplus-square-fill:before {
  content: "\e879";
}

.kt-iconminus-square:before {
  content: "\e87a";
}

.kt-iconplus-square:before {
  content: "\e87b";
}

.kt-iconstepmode:before {
  content: "\e87d";
}

.kt-iconscrollingmode:before {
  content: "\e87e";
}

.kt-iconshoppingcart:before {
  content: "\e881";
}

.kt-iconwaiting-fill:before {
  content: "\e882";
}

.kt-iconwaiting:before {
  content: "\e883";
}

.kt-iconright-arrow-rect:before {
  content: "\e884";
}

.kt-iconleft-arrow-rect:before {
  content: "\e885";
}

.kt-iconbell:before {
  content: "\e887";
}

.kt-iconstructured-data:before {
  content: "\e888";
}

.kt-icondrag:before {
  content: "\e769";
}

.kt-iconvector:before {
  content: "\e889";
}

.kt-iconellipsis-vertical:before {
  content: "\e76a";
}

.kt-iconNEW-copy:before {
  content: "\e88a";
}

.kt-icongallery-view:before {
  content: "\e76b";
}

.kt-iconHOT-copy:before {
  content: "\e88b";
}

.kt-iconWIFI:before {
  content: "\e76c";
}

.kt-iconhome:before {
  content: "\e88c";
}

.kt-iconbug-report:before {
  content: "\e76d";
}

.kt-iconmonitoring:before {
  content: "\e88e";
}

.kt-iconqrcode:before {
  content: "\e76e";
}

.kt-icondiagnose:before {
  content: "\e88f";
}

.kt-iconscan:before {
  content: "\e76f";
}

.kt-iconloading:before {
  content: "\e891";
}

.kt-iconcut:before {
  content: "\e770";
}

.kt-iconDirectory-tree:before {
  content: "\e892";
}

.kt-icongift:before {
  content: "\e771";
}

.kt-iconapplication:before {
  content: "\e89e";
}

.kt-iconlink:before {
  content: "\e772";
}

.kt-iconapplicationgroup:before {
  content: "\e89f";
}

.kt-iconpoweroff:before {
  content: "\e774";
}

.kt-iconkey:before {
  content: "\e775";
}

.kt-iconsafety-certificate:before {
  content: "\e776";
}

.kt-iconsupervise:before {
  content: "\e777";
}

.kt-icontag-subscipt:before {
  content: "\e78a";
}

.kt-iconchart-pie-alt:before {
  content: "\e78c";
}

.kt-iconchart-relation:before {
  content: "\e78d";
}

.kt-iconchart-scatter-plot:before {
  content: "\e78e";
}

.kt-iconchart-area:before {
  content: "\e78f";
}

.kt-iconchart-line:before {
  content: "\e790";
}

.kt-iconchart-bar:before {
  content: "\e791";
}

.kt-icondisplay-code:before {
  content: "\e792";
}

.kt-icondisplay-arrow-right:before {
  content: "\e793";
}

.kt-icondisplay-arrow-left:before {
  content: "\e794";
}

.kt-iconlaptop-error:before {
  content: "\e795";
}

.kt-iconlaptop-check:before {
  content: "\e796";
}

.kt-iconlaptop:before {
  content: "\e797";
}

.kt-iconmobile-error:before {
  content: "\e798";
}

.kt-iconmobile-check:before {
  content: "\e799";
}

.kt-iconmobile-alt:before {
  content: "\e79a";
}

.kt-iconaliwangwang:before {
  content: "\e79d";
}

.kt-iconnail:before {
  content: "\e79e";
}

.kt-iconnail-fixed:before {
  content: "\e79f";
}

.kt-iconedit:before {
  content: "\e7a0";
}

.kt-icondollar:before {
  content: "\e7a1";
}

.kt-icontransanction:before {
  content: "\e7a2";
}

.kt-iconfilter-fill:before {
  content: "\e7a3";
}

.kt-iconall-fill:before {
  content: "\e7a4";
}

